.container {
  margin-bottom: 0.5rem;
  border-bottom: 1px black solid;
}

.info {
  h5 {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0.5rem;
  }
}

.ratingsContainer {
  margin: 0.5rem 0 1rem 0;
  button {
    width: 16px;
    height: 16px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
  }
  p {
    color: black;
    display: inline-block;
    margin-left: 1rem;
  }
}

.upvote {
  transform: rotate(-135deg);
}
.downvote {
  margin-left: 1rem;
  transform: translateY(-50%) rotate(45deg);
}

.container:last-child {
  border: none;
}
