* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  box-sizing: border-box;
  padding: 0 clamp(1rem, 5vw, 4rem);
  z-index: 100;
}

h1 {
  font-size: clamp(1.75rem, 5vw, 3rem);
  font-family: "Bodoni Moda", sans-serif;
  color: $primary-color;
  margin: 1.25rem 0;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 1.75rem);
  font-family: "Bodoni Moda", sans-serif;
  color: $primary-color;
  margin: 1rem 0;
}

h4 {
  font-size: clamp(1rem, 3vw, 1.25rem);
  margin: 0.5rem 0;
}

h5 {
  font-size: clamp(0.9rem, 2vw, 1rem);
}

h6 {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

p {
  color: $text-medium;
  margin-bottom: 0.5rem;
  .body-big {
    font-weight: 600;
  }
}

.textButton {
  color: $primary-color;
  text-decoration: underline;
  font-family: "Bodoni Moda", sans-serif;
  font-weight: 800;
  &:hover {
    font-style: italic;
  }
  &:focus {
    outline: 1px black solid;
  }
}

a:focus,
button:focus {
  outline: none;
}
input {
  outline: none;
  border: none;
}

input[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.button {
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  font-weight: 400;

  &Primary {
    background: $primary-color;
    color: $text-white;
    transition: color 300ms linear, background 300ms linear;
    &:focus {
      outline: 2px black solid;
    }
  }
}

.responsiveImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
